body
{
    background-color: rgb(228, 222, 215);
    margin: 0;
    padding: 0;
}
.net 
{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 10% 35% 10% 35% 110%;
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    grid-template-areas:
    'button1 button2 button3 button4 button5 button6' 
    'area1 area1 area1 area1 area1 area1'
    'nothing nothing nothing nothing nothing nothing'
    'area2 area2 area2 area2 area2 area2'
    'footer footer footer footer footer footer'
}
.box1
{
    grid-area: button1;
    font-weight: 700;
    
}
.box2
{
    grid-area: button2;
    font-weight: 700;
}
.box3
{
    grid-area: button3;
    font-weight: 700;
}
.box4
{
    grid-area: button4;
    font-weight: 700;
}
.box5
{
    grid-area: button5;
    font-weight: 700;
}
.box6
{
    grid-area: button6;
    font-weight: 700;
}
.area1
{
    background-color: #ccc;
    font-size: 28px;
    grid-area: area1;
    text-align: center;
}
.area2
{
    background-color: #ccc;
    font-size: 28px;
    grid-area: area2;
    text-align: center;
    
}
.footer
{
    grid-area: footer;
}
li {
    list-style-type: none;
}
@media screen and (max-width: 980px)
{
    .net{
        height: 50%;
    }
}