body
{
    background-color: rgb(228, 222, 215);
    margin: 0;
    padding: 0;
}
.net 
{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 10% 27% 26% 27% 65%;
    grid-gap: 10px;
    width: 100%;
    height: 100%;
    grid-template-areas:
    'button1 button2 button3 button4 button5 button6' 
    'net1 net1 net2 net2 net3 net3'
    'net4 net4 net5 net5 net6 net6'
    'net7 net7 net8 net8 net9 net9'
    'footer footer footer footer footer footer'
}
.all-buttons
{
    border: none;
    font-size: 26px;
    cursor: pointer;
    border-radius: 20px;
    background: none;
    transition: background-color 0.7s ease;
}
.all-buttons:hover
{
    background-color: rgb(0, 0, 0);
    font-size: 34px;
    color: azure;
}
.box1
{
    grid-area: button1;
    font-weight: 700;
}
.box2
{
    grid-area: button2;
    font-weight: 700;
}
.box3
{
    grid-area: button3;
    font-weight: 700;
}
.box4
{
    grid-area: button4;
    font-weight: 700;
}
.box5
{
    grid-area: button5;
    font-weight: 700;
}
.box6
{
    grid-area: button6;
    font-weight: 700;
}
.area1
{
    grid-area: net1;
    background-image: url(./images/onFire.png);
    background-position: center;
}
.area2
{
    grid-area: net2;
    background-image: url(./images/at_the_week.png);
    background-position: center;
}
.area3
{
    grid-area: net3;
    background-image: url(./images/pre_bron.png);
    background-position: center;
}
.area4
{
    grid-area: net4;
    background-image: url(./images/all_inclusive.png);
    background-position: center;
}
.area5
{
    grid-area: net5;
    background-image: url(./images/Bel.png);
    background-position: center;
}
.area6
{
    grid-area: net6;
    background-image: url(./images/By_bus.png);
    background-position: center;
}
.area7
{
    grid-area: net7;
    background-image: url(./images/Excurs.png);
    background-position: center;
}
.area8
{
    grid-area: net8;
    background-image: url(./images/houses.png);
    background-position: center;
}
.area9
{
    grid-area: net9;
    background-image: url(./images/active_relax.png);
    background-position: center;
}
.area10
{
    grid-area: footer;
}
.all-buttons2
{
    position: relative;
    overflow: hidden;
    border: none;
    font-size: 28px;
    padding: 10px 20px;
    cursor: pointer;
    background-size: cover;
    color: rgb(255, 255, 255);
}
.all-buttons2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Поместите псевдоэлемент за кнопкой */
    box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0); /* Начните с нулевой прозрачности */
    transition: box-shadow 0.3s ease;
}
.all-buttons2:hover::before {
    box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.5);
}
.all-buttons2:hover {
    transform: scale(1.1);
    font-size: 34px; /* Размер текста увеличивается */
    z-index: 1; /* Поместите кнопку поверх псевдоэлемента */
}
.footer
{
    font-size: 26px;
    grid-area: footer;
    text-align: center;
}
a{
    text-decoration: none;
}
li {
    list-style-type: none;
}
@media screen and (max-width: 980px)
{
    .net{
        height: 45%;
    }
}